body {
    margin-inline: 100px;
    padding: 0;
    font-family: 'Open sans';
}

h2 {
    font-size: 40px;
    margin-top: 20px;
    font-weight: 800;
    color: #333;
    line-height: 1.3em;
    text-align: center;
}

h3 {
    color: #333;
    font-weight: 500;
    margin-top: 0;
    padding-bottom: 20px;
    border-bottom: 1.15px solid #ccc;
    ;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.due-date-container,
.category-container,
.priority-container {
    display: flex;
    flex-direction: column;
    width: 30%;
}

label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

input[type="date"] {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    margin-bottom: 5px;
    padding-block: 5px;
    padding-inline: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Open sans';
    font-weight: 400;
}

input[type="date"]:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

button[type="submit"] {
    align-self: center;
    width: 30%;
    padding: 10px 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Open sans';
    font-size: 16px;
    font-weight: 400;
}

button[type="submit"]:hover {
    background-color: #1e7e34;
}